.elementor-39 .elementor-element.elementor-element-00c7b8e {text-align: left;}
.elementor-39 .elementor-element.elementor-element-610b7ea {margin-top: -109px;margin-bottom: 0px;}
.elementor-bc-flex-widget .elementor-39 .elementor-element.elementor-element-7a1200b.elementor-column .elementor-column-wrap {align-items: space-around;}
.elementor-39 .elementor-element.elementor-element-7a1200b.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: space-around;align-items: space-around;}
.elementor-39 .elementor-element.elementor-element-7a1200b.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {justify-content: center;}
.elementor-39 .elementor-element.elementor-element-ecc1bd6 {text-align: center;}
.elementor-39 .elementor-element.elementor-element-ecc1bd6.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-39 .elementor-element.elementor-element-ecc1bd6 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-ecc1bd6 > .elementor-widget-container {background-color: #fcae1e;}
.elementor-39 .elementor-element.elementor-element-1a6a94e {text-align: center;}
.elementor-39 .elementor-element.elementor-element-1a6a94e.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-1a6a94e .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-af75220 {margin-top: -142px;margin-bottom: 0px;}
.elementor-39 .elementor-element.elementor-element-322a009 > .elementor-element-populated {border-style: groove;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-39 .elementor-element.elementor-element-322a009 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-39 .elementor-element.elementor-element-fa29dd3 {text-align: center;}
.elementor-39 .elementor-element.elementor-element-fa29dd3.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-fa29dd3 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-73d8d83 {text-align: center;}
.elementor-39 .elementor-element.elementor-element-73d8d83.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-73d8d83 .elementor-heading-title {font-size: 34px;font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-73d8d83 > .elementor-widget-container {padding: 22px 0px 0px 0px;}
.elementor-39 .elementor-element.elementor-element-50974d9 .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-39 .elementor-element.elementor-element-50974d9 .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-39 .elementor-element.elementor-element-50974d9 a.elementor-button, .elementor-39 .elementor-element.elementor-element-50974d9 .elementor-button {fill: #54595f;color: #54595f;background-color: #fcae1e;}
.elementor-39 .elementor-element.elementor-element-50974d9 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 27px 0px 0px 0px;}
.elementor-39 .elementor-element.elementor-element-e9022c8 > .elementor-element-populated {border-style: groove;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-39 .elementor-element.elementor-element-e9022c8 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-39 .elementor-element.elementor-element-04f10b1 {text-align: center;}
.elementor-39 .elementor-element.elementor-element-04f10b1.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-04f10b1 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-e8996bd {text-align: center;}
.elementor-39 .elementor-element.elementor-element-e8996bd.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-e8996bd .elementor-heading-title {font-size: 34px;font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-e8996bd > .elementor-widget-container {padding: 22px 0px 0px 0px;}
.elementor-39 .elementor-element.elementor-element-ced0b61 .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-39 .elementor-element.elementor-element-ced0b61 .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-39 .elementor-element.elementor-element-ced0b61 a.elementor-button, .elementor-39 .elementor-element.elementor-element-ced0b61 .elementor-button {fill: #54595f;color: #54595f;background-color: #fcae1e;}
.elementor-39 .elementor-element.elementor-element-ced0b61 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 27px 0px 0px 0px;}
.elementor-39 .elementor-element.elementor-element-c5e1b7d > .elementor-element-populated {border-style: groove;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-39 .elementor-element.elementor-element-c5e1b7d > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-39 .elementor-element.elementor-element-7676cd1 {text-align: center;}
.elementor-39 .elementor-element.elementor-element-7676cd1.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-7676cd1 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-dbabafb {text-align: center;}
.elementor-39 .elementor-element.elementor-element-dbabafb.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-dbabafb .elementor-heading-title {font-size: 34px;font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-dbabafb > .elementor-widget-container {padding: 22px 0px 0px 0px;}
.elementor-39 .elementor-element.elementor-element-d0fd8a4 .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-39 .elementor-element.elementor-element-d0fd8a4 .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-39 .elementor-element.elementor-element-d0fd8a4 a.elementor-button, .elementor-39 .elementor-element.elementor-element-d0fd8a4 .elementor-button {fill: #54595f;color: #54595f;background-color: #fcae1e;}
.elementor-39 .elementor-element.elementor-element-d0fd8a4 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 27px 0px 0px 0px;}
.elementor-39 .elementor-element.elementor-element-d821de8 > .elementor-element-populated {border-style: groove;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-39 .elementor-element.elementor-element-d821de8 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-39 .elementor-element.elementor-element-16d7d50 {text-align: center;}
.elementor-39 .elementor-element.elementor-element-16d7d50.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-16d7d50 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-af55631 {text-align: center;}
.elementor-39 .elementor-element.elementor-element-af55631.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-af55631 .elementor-heading-title {font-size: 34px;font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-af55631 > .elementor-widget-container {padding: 22px 0px 0px 0px;}
.elementor-39 .elementor-element.elementor-element-9ccc059 .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-39 .elementor-element.elementor-element-9ccc059 .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-39 .elementor-element.elementor-element-9ccc059 a.elementor-button, .elementor-39 .elementor-element.elementor-element-9ccc059 .elementor-button {fill: #54595f;color: #54595f;background-color: #fcae1e;}
.elementor-39 .elementor-element.elementor-element-9ccc059 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 27px 0px 0px 0px;}
.elementor-39 .elementor-element.elementor-element-a5dcbbd > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-39 .elementor-element.elementor-element-28fba91 {text-align: center;}
.elementor-39 .elementor-element.elementor-element-28fba91.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-28fba91 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-01d5faf.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-01d5faf .elementor-heading-title {font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-01d5faf > .elementor-widget-container {padding: 26px 0px 26px 0px;}
.elementor-39 .elementor-element.elementor-element-01d5faf {z-index: 2;}
.elementor-39 .elementor-element.elementor-element-9fa7a18 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-39 .elementor-element.elementor-element-9fa7a18 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-39 .elementor-element.elementor-element-0716da0 {text-align: center;}
.elementor-39 .elementor-element.elementor-element-0716da0.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-0716da0 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-5f89843 > .elementor-container {max-width: 1243px;}
.elementor-39 .elementor-element.elementor-element-5f89843 {margin-top: -61px;margin-bottom: 0px;}
.elementor-39 .elementor-element.elementor-element-2b52dcf.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-2b52dcf .elementor-heading-title {font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-06eb123.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-06eb123 .elementor-heading-title {font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-b85e236.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-b85e236 .elementor-heading-title {font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-ebad61e.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-ebad61e .elementor-heading-title {font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-ec0a2c0 a.elementor-button, .elementor-39 .elementor-element.elementor-element-ec0a2c0 .elementor-button {fill: #fff;color: #fff;background-color: #fcae1e;}
.elementor-39 .elementor-element.elementor-element-5859a26:not(.elementor-motion-effects-element-type-background), .elementor-39 .elementor-element.elementor-element-5859a26 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fcae1e;}
.elementor-39 .elementor-element.elementor-element-5859a26 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-39 .elementor-element.elementor-element-5859a26 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-39 .elementor-element.elementor-element-d29a47d.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-39 .elementor-element.elementor-element-5b51867.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-39 .elementor-element.elementor-element-55bd2c5.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-39 .elementor-element.elementor-element-8a610e7.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-8a610e7 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-61ac024.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-61ac024 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-dc5fa10.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-dc5fa10 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-5907fc9 {text-align: left;z-index: 2;}
.elementor-39 .elementor-element.elementor-element-5d7f679.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-5d7f679 .elementor-heading-title {font-size: 34px;font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-5d7f679 > .elementor-widget-container {margin: -51px 0px 0px 31px;}
.elementor-39 .elementor-element.elementor-element-5d7f679 {z-index: 2;}
.elementor-39 .elementor-element.elementor-element-1a7357b {text-align: left;z-index: 2;}
.elementor-39 .elementor-element.elementor-element-16a1678.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-16a1678 .elementor-heading-title {font-size: 34px;font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-16a1678 > .elementor-widget-container {margin: -51px 0px 0px 31px;}
.elementor-39 .elementor-element.elementor-element-16a1678 {z-index: 2;}
.elementor-39 .elementor-element.elementor-element-afa2960 {text-align: left;z-index: 2;}
.elementor-39 .elementor-element.elementor-element-28e9fcd.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-28e9fcd .elementor-heading-title {font-size: 34px;font-weight: 300;}
.elementor-39 .elementor-element.elementor-element-28e9fcd > .elementor-widget-container {margin: -51px 0px 0px 31px;}
.elementor-39 .elementor-element.elementor-element-28e9fcd {z-index: 2;}
.elementor-39 .elementor-element.elementor-element-0865d82.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-0865d82 .elementor-heading-title {font-weight: 500;}
.elementor-39 .elementor-element.elementor-element-4f70467.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-4f70467 .elementor-heading-title {font-weight: 400;}
.elementor-39 .elementor-element.elementor-element-a813ec1 > .elementor-container {max-width: 1243px;}
.elementor-39 .elementor-element.elementor-element-a813ec1 {margin-top: -68px;margin-bottom: 0px;}
.elementor-39 .elementor-element.elementor-element-f3b10ab a.elementor-button, .elementor-39 .elementor-element.elementor-element-f3b10ab .elementor-button {fill: #fff;color: #fff;background-color: #fcae1e;}
.elementor-39 .elementor-element.elementor-element-5ea17b6 {margin-top: -390px;margin-bottom: 0px;}
.elementor-39 .elementor-element.elementor-element-05c5f2a.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-39 .elementor-element.elementor-element-05c5f2a .elementor-heading-title {font-weight: 400;}
@media (max-width:1024px) {.elementor-39 .elementor-element.elementor-element-00c7b8e {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-ecc1bd6 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-1a6a94e {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-af75220 {margin-top: -139px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-fa29dd3 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-04f10b1 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-7676cd1 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-16d7d50 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-e336c8b {margin-top: -115px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-28fba91 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-9fa7a18 {margin-top: -145px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-0716da0 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-5f89843 {margin-top: -69px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-5859a26 {margin-top: -65px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-5b51867 .elementor-heading-title {font-size: 36px;}
	.elementor-39 .elementor-element.elementor-element-55bd2c5 .elementor-heading-title {font-size: 36px;}
	.elementor-39 .elementor-element.elementor-element-d65673b {padding: 17px -1px 24px 0px;}
	.elementor-39 .elementor-element.elementor-element-62efb26 > .elementor-element-populated {padding: 17px -1px 24px 0px;}
	.elementor-39 .elementor-element.elementor-element-5907fc9 {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-5d7f679 .elementor-heading-title {font-size: 27px;}
	.elementor-39 .elementor-element.elementor-element-5d7f679 > .elementor-widget-container {margin: -47px -0px 0px 0px;padding: 0px 0px 0px 37px;}
	.elementor-39 .elementor-element.elementor-element-1a7357b {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-16a1678 .elementor-heading-title {font-size: 27px;}
	.elementor-39 .elementor-element.elementor-element-16a1678 > .elementor-widget-container {margin: -47px -0px 0px 0px;padding: 0px 0px 0px 37px;}
	.elementor-39 .elementor-element.elementor-element-afa2960 {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-28e9fcd .elementor-heading-title {font-size: 27px;}
	.elementor-39 .elementor-element.elementor-element-28e9fcd > .elementor-widget-container {margin: -47px -0px 0px 0px;padding: 0px 0px 0px 37px;}
	.elementor-39 .elementor-element.elementor-element-5b9d9f9 > .elementor-element-populated {padding: 17px -1px 24px 0px;}
	.elementor-39 .elementor-element.elementor-element-a813ec1 {margin-top: -73px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-b7d1876 {margin-top: -233px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-5ea17b6 {margin-top: -141px;margin-bottom: 0px;}}
@media (max-width:767px) {.elementor-39 .elementor-element.elementor-element-5f76118 > .elementor-element-populated {margin: 0px 0px -11px 0px;padding: 0px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-00c7b8e {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-00c7b8e > .elementor-widget-container {margin: -52px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-ec1bcce {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-ec1bcce .elementor-image img {max-width: 100%;}
	.elementor-39 .elementor-element.elementor-element-610b7ea {margin-top: -40px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-ecc1bd6 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-ecc1bd6 .elementor-heading-title {font-size: 28px;line-height: 1.3em;letter-spacing: -.2px;}
	.elementor-39 .elementor-element.elementor-element-1a6a94e {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-af75220 {margin-top: 8px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-322a009 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-322a009 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-322a009 > .elementor-element-populated {margin: 0px 0px 32px 0px;}
	.elementor-39 .elementor-element.elementor-element-fa29dd3 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-73d8d83 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-73d8d83 .elementor-heading-title {font-size: 18px;}
	.elementor-39 .elementor-element.elementor-element-73d8d83 > .elementor-widget-container {margin: 19px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-50974d9 > .elementor-widget-container {margin: 12px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-e9022c8 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-e9022c8 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-e9022c8 > .elementor-element-populated {margin: 0px 0px 32px 0px;}
	.elementor-39 .elementor-element.elementor-element-04f10b1 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-e8996bd {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-e8996bd .elementor-heading-title {font-size: 18px;}
	.elementor-39 .elementor-element.elementor-element-e8996bd > .elementor-widget-container {margin: 19px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-ced0b61 > .elementor-widget-container {margin: 12px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-c5e1b7d {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-c5e1b7d > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-c5e1b7d > .elementor-element-populated {margin: 0px 0px 32px 0px;}
	.elementor-39 .elementor-element.elementor-element-7676cd1 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-dbabafb {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-dbabafb .elementor-heading-title {font-size: 18px;}
	.elementor-39 .elementor-element.elementor-element-dbabafb > .elementor-widget-container {margin: 19px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-d0fd8a4 > .elementor-widget-container {margin: 12px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-d821de8 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-d821de8 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-d821de8 > .elementor-element-populated {margin: 0px 0px 32px 0px;}
	.elementor-39 .elementor-element.elementor-element-16d7d50 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-af55631 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-af55631 .elementor-heading-title {font-size: 18px;}
	.elementor-39 .elementor-element.elementor-element-af55631 > .elementor-widget-container {margin: 19px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-9ccc059 > .elementor-widget-container {margin: 12px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-e336c8b {margin-top: -1px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-28fba91 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-28fba91 .elementor-heading-title {font-size: 28px;}
	.elementor-39 .elementor-element.elementor-element-28fba91 > .elementor-widget-container {margin: 0px 0px -7px 0px;}
	.elementor-39 .elementor-element.elementor-element-01d5faf {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-01d5faf .elementor-heading-title {font-size: 16px;line-height: 1.4em;letter-spacing: 1.3px;}
	.elementor-39 .elementor-element.elementor-element-9fa7a18:not(.elementor-motion-effects-element-type-background), .elementor-39 .elementor-element.elementor-element-9fa7a18 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-image: url("https://sanket24m.github.io/megahp2/wp-content/uploads/2020/04/row-bg.jpg");}
	.elementor-39 .elementor-element.elementor-element-9fa7a18 {margin-top: -2px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-0716da0 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-0716da0 .elementor-heading-title {font-size: 23px;line-height: 1.4em;letter-spacing: 1.3px;}
	.elementor-39 .elementor-element.elementor-element-5f89843 {margin-top: -58px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-1b00f8f {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-1b00f8f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: -5px;}
	.elementor-39 .elementor-element.elementor-element-4a16b21 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-2b52dcf {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-2b52dcf .elementor-heading-title {font-size: 18px;line-height: 1em;}
	.elementor-39 .elementor-element.elementor-element-2b52dcf > .elementor-widget-container {margin: 5px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-aa22879 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-aa22879 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: -5px;}
	.elementor-39 .elementor-element.elementor-element-b415506 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-06eb123 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-06eb123 .elementor-heading-title {font-size: 18px;line-height: 1em;}
	.elementor-39 .elementor-element.elementor-element-06eb123 > .elementor-widget-container {margin: 10px 10px 10px 10px;}
	.elementor-39 .elementor-element.elementor-element-0b23717 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-0b23717 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: -5px;}
	.elementor-39 .elementor-element.elementor-element-0132021 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-b85e236 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-b85e236 .elementor-heading-title {font-size: 18px;line-height: 1em;}
	.elementor-39 .elementor-element.elementor-element-b85e236 > .elementor-widget-container {margin: 5px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-8872b26 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-8872b26 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: -5px;}
	.elementor-39 .elementor-element.elementor-element-90be094 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-ebad61e {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-ebad61e .elementor-heading-title {font-size: 18px;line-height: 1em;}
	.elementor-39 .elementor-element.elementor-element-ebad61e > .elementor-widget-container {margin: 5px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-ec0a2c0 > .elementor-widget-container {margin: -46px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-5859a26 {margin-top: -0px;margin-bottom: -0px;}
	.elementor-39 .elementor-element.elementor-element-d29a47d {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-5b51867 {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-5b51867 .elementor-heading-title {font-size: 18px;line-height: 1.6em;letter-spacing: -.8px;}
	.elementor-39 .elementor-element.elementor-element-55bd2c5 {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-55bd2c5 .elementor-heading-title {font-size: 18px;line-height: 1.6em;letter-spacing: -.8px;}
	.elementor-39 .elementor-element.elementor-element-8a610e7 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-61ac024 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-61ac024 .elementor-heading-title {font-size: 16px;line-height: 1.6em;letter-spacing: 2.2px;}
	.elementor-39 .elementor-element.elementor-element-dc5fa10 .elementor-heading-title {font-size: 20px;}
	.elementor-39 .elementor-element.elementor-element-5907fc9 {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-5d7f679 .elementor-heading-title {font-size: 19px;line-height: .3em;letter-spacing: 1.5px;}
	.elementor-39 .elementor-element.elementor-element-5d7f679 > .elementor-widget-container {margin: -33px 0px 0px 42px;}
	.elementor-39 .elementor-element.elementor-element-1a7357b {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-16a1678 .elementor-heading-title {font-size: 19px;line-height: .3em;letter-spacing: 1.5px;}
	.elementor-39 .elementor-element.elementor-element-16a1678 > .elementor-widget-container {margin: -33px 0px 0px 42px;padding: 0px 0px 15px 0px;}
	.elementor-39 .elementor-element.elementor-element-afa2960 {text-align: left;}
	.elementor-39 .elementor-element.elementor-element-28e9fcd .elementor-heading-title {font-size: 19px;line-height: .3em;letter-spacing: 1.5px;}
	.elementor-39 .elementor-element.elementor-element-28e9fcd > .elementor-widget-container {margin: -33px 0px 0px 42px;}
	.elementor-39 .elementor-element.elementor-element-0865d82 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-0865d82 .elementor-heading-title {font-size: 36px;line-height: 1.2em;letter-spacing: 1.9px;}
	.elementor-39 .elementor-element.elementor-element-4f70467 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-4f70467 .elementor-heading-title {font-size: 17px;line-height: 1.5em;}
	.elementor-39 .elementor-element.elementor-element-a813ec1 {margin-top: -58px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-03c882c {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-03c882c > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: -5px;}
	.elementor-39 .elementor-element.elementor-element-eac7e68 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-22199a2 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-22199a2 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: -5px;}
	.elementor-39 .elementor-element.elementor-element-df2f9e4 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-ed1dd3c {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-ed1dd3c > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: -5px;}
	.elementor-39 .elementor-element.elementor-element-7517189 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-70c263b {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-70c263b > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: -5px;}
	.elementor-39 .elementor-element.elementor-element-2ca9150 {text-align: center;}
	.elementor-39 .elementor-element.elementor-element-b7d1876 {margin-top: -78px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-f3b10ab > .elementor-widget-container {margin: -46px 0px 0px 0px;}
	.elementor-39 .elementor-element.elementor-element-5ea17b6 {margin-top: 16px;margin-bottom: 0px;}
	.elementor-39 .elementor-element.elementor-element-05c5f2a .elementor-heading-title {font-size: 16px;line-height: 1.1em;letter-spacing: -.3px;}
	.elementor-39 .elementor-element.elementor-element-05c5f2a > .elementor-widget-container {margin: -121px 0px 0px 0px;}}
@media (min-width:768px) {.elementor-39 .elementor-element.elementor-element-7a1200b {width: 100%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-39 .elementor-element.elementor-element-7a1200b {width: 100%;}
	.elementor-39 .elementor-element.elementor-element-322a009 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-e9022c8 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-c5e1b7d {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-d821de8 {width: 50%;}
	.elementor-39 .elementor-element.elementor-element-a5dcbbd {width: 100%;}
	.elementor-39 .elementor-element.elementor-element-98ae025 {width: 100%;}
	.elementor-39 .elementor-element.elementor-element-60d3297 {width: 100%;}
	.elementor-39 .elementor-element.elementor-element-62efb26 {width: 100%;}
	.elementor-39 .elementor-element.elementor-element-5b9d9f9 {width: 100%;}
	.elementor-39 .elementor-element.elementor-element-71c232d {width: 100%;}}