.elementor-7 .elementor-element.elementor-element-524414e > .elementor-container {max-width: 1600px;}
.elementor-7 .elementor-element.elementor-element-524414e {overflow: hidden;}
.elementor-7 .elementor-element.elementor-element-2d6d26d a.elementor-button, .elementor-7 .elementor-element.elementor-element-2d6d26d .elementor-button {fill: #fff;color: #fff;background-color: #fcae1e;}
.elementor-7 .elementor-element.elementor-element-62a1f56.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-62a1f56 .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-db138fe.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-db138fe .elementor-heading-title {font-weight: 300;}
.elementor-7 .elementor-element.elementor-element-b80e894 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-7 .elementor-element.elementor-element-b80e894 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-7 .elementor-element.elementor-element-4259452.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-4259452 .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-e41e893 > .elementor-container {max-width: 1243px;}
.elementor-7 .elementor-element.elementor-element-2ef1ff7 a.elementor-button, .elementor-7 .elementor-element.elementor-element-2ef1ff7 .elementor-button {fill: #fff;color: #fff;background-color: #fcae1e;}
.elementor-7 .elementor-element.elementor-element-a396194 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-7 .elementor-element.elementor-element-a396194 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-7 .elementor-element.elementor-element-a9e3635.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-7 .elementor-element.elementor-element-bc9b60f.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-7 .elementor-element.elementor-element-aabb8f7.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-7 .elementor-element.elementor-element-19802e1:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-19802e1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #ffc966;}
.elementor-7 .elementor-element.elementor-element-19802e1 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-7 .elementor-element.elementor-element-19802e1 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-7 .elementor-element.elementor-element-3a9dc5a.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-3a9dc5a .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-e5a1d22.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-e5a1d22 .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-caa57e0.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-caa57e0 .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-f1471ac {z-index: 2;}
.elementor-7 .elementor-element.elementor-element-2adffbc.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-2adffbc .elementor-heading-title {font-weight: 300;}
.elementor-7 .elementor-element.elementor-element-2adffbc {z-index: 2;}
.elementor-7 .elementor-element.elementor-element-9672e45.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-9672e45 .elementor-heading-title {font-weight: 300;}
.elementor-7 .elementor-element.elementor-element-ab6380b.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-ab6380b .elementor-heading-title {font-weight: 300;}
.elementor-7 .elementor-element.elementor-element-e379fad.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-e379fad .elementor-heading-title {font-weight: 500;}
.elementor-7 .elementor-element.elementor-element-a0a1add.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-a0a1add .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-b6b3835.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-b6b3835 .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-e697002.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-e697002 .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-8a74b90.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-8a74b90 .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-d1a77ca.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-d1a77ca .elementor-heading-title {font-weight: 300;}
.elementor-7 .elementor-element.elementor-element-5a1f140 .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-7 .elementor-element.elementor-element-5a1f140 .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-7 .elementor-element.elementor-element-5a1f140 a.elementor-button, .elementor-7 .elementor-element.elementor-element-5a1f140 .elementor-button {background-color: #fcae1e;}
.elementor-7 .elementor-element.elementor-element-d2f6e7a.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-d2f6e7a .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-19a2fad.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-19a2fad .elementor-heading-title {font-weight: 300;}
.elementor-7 .elementor-element.elementor-element-a841b3b .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-7 .elementor-element.elementor-element-a841b3b .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-7 .elementor-element.elementor-element-a841b3b a.elementor-button, .elementor-7 .elementor-element.elementor-element-a841b3b .elementor-button {background-color: #fcae1e;}
.elementor-7 .elementor-element.elementor-element-e3a72d9.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-e3a72d9 .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-5324088.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-5324088 .elementor-heading-title {font-weight: 300;}
.elementor-7 .elementor-element.elementor-element-4bf2ec3 .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-7 .elementor-element.elementor-element-4bf2ec3 .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-7 .elementor-element.elementor-element-4bf2ec3 a.elementor-button, .elementor-7 .elementor-element.elementor-element-4bf2ec3 .elementor-button {background-color: #fcae1e;}
.elementor-7 .elementor-element.elementor-element-007871b.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-007871b .elementor-heading-title {font-weight: 400;}
.elementor-7 .elementor-element.elementor-element-c37ebca.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-c37ebca .elementor-heading-title {font-weight: 300;}
.elementor-7 .elementor-element.elementor-element-e6ae1d3 .elementor-button .elementor-align-icon-right {margin-left: 0px;}
.elementor-7 .elementor-element.elementor-element-e6ae1d3 .elementor-button .elementor-align-icon-left {margin-right: 0px;}
.elementor-7 .elementor-element.elementor-element-e6ae1d3 a.elementor-button, .elementor-7 .elementor-element.elementor-element-e6ae1d3 .elementor-button {background-color: #fcae1e;}
.elementor-7 .elementor-element.elementor-element-b20c85f.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-7 .elementor-element.elementor-element-b20c85f .elementor-heading-title {font-weight: 400;}
@media (max-width:767px) {.elementor-7 .elementor-element.elementor-element-c498526 {text-align: left;}
	.elementor-7 .elementor-element.elementor-element-c498526 > .elementor-widget-container {margin: -52px 0px 0px 0px;}
	.elementor-7 .elementor-element.elementor-element-524414e {margin-top: -127px;margin-bottom: 0px;}
	.elementor-7 .elementor-element.elementor-element-2d6d26d > .elementor-widget-container {margin: 0px 0px 0px 0px;}
	.elementor-7 .elementor-element.elementor-element-b9c394a {margin-top: -88px;margin-bottom: 0px;}
	.elementor-7 .elementor-element.elementor-element-62a1f56 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-62a1f56 .elementor-heading-title {font-size: 28px;}
	.elementor-7 .elementor-element.elementor-element-db138fe {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-db138fe .elementor-heading-title {font-size: 15px;}
	.elementor-7 .elementor-element.elementor-element-164986f {margin-top: -60px;margin-bottom: 0px;}
	.elementor-7 .elementor-element.elementor-element-b80e894:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-b80e894 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-image: url("https://sanket24m.github.io/megahp2/wp-content/uploads/2020/04/row-bg.jpg");}
	.elementor-7 .elementor-element.elementor-element-4259452 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-4259452 .elementor-heading-title {font-size: 23px;line-height: 1.4em;letter-spacing: 1.3px;}
	.elementor-7 .elementor-element.elementor-element-e41e893 {margin-top: -58px;margin-bottom: 0px;}
	.elementor-7 .elementor-element.elementor-element-1931dc6 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-4470a32 > .elementor-widget-container {margin: -22px 0px 0px 0px;}
	.elementor-7 .elementor-element.elementor-element-de53b6c > .elementor-widget-container {margin: -12px 0px 0px 0px;}
	.elementor-7 .elementor-element.elementor-element-9b07460 > .elementor-widget-container {margin: -18px 0px 0px 0px;}
	.elementor-7 .elementor-element.elementor-element-2ef1ff7 > .elementor-widget-container {margin: -46px 0px 0px 0px;}
	.elementor-7 .elementor-element.elementor-element-a396194:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-a396194 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-image: url("https://sanket24m.github.io/megahp2/wp-content/uploads/2020/04/download-2.jpg");}
	.elementor-7 .elementor-element.elementor-element-a9e3635 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-bc9b60f {text-align: left;}
	.elementor-7 .elementor-element.elementor-element-bc9b60f .elementor-heading-title {font-size: 18px;line-height: 1.6em;letter-spacing: -.8px;}
	.elementor-7 .elementor-element.elementor-element-aabb8f7 .elementor-heading-title {font-size: 18px;line-height: 1.4em;}
	.elementor-7 .elementor-element.elementor-element-3a9dc5a {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-e5a1d22 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-e5a1d22 .elementor-heading-title {font-size: 16px;line-height: 1.6em;letter-spacing: 2.2px;}
	.elementor-7 .elementor-element.elementor-element-da1ed93 {margin-top: -35px;margin-bottom: 0px;}
	.elementor-7 .elementor-element.elementor-element-caa57e0 .elementor-heading-title {font-size: 20px;}
	.elementor-7 .elementor-element.elementor-element-f1471ac {text-align: left;}
	.elementor-7 .elementor-element.elementor-element-2adffbc .elementor-heading-title {font-size: 19px;line-height: .3em;letter-spacing: 1.5px;}
	.elementor-7 .elementor-element.elementor-element-2adffbc > .elementor-widget-container {margin: -33px 0px 0px 42px;}
	.elementor-7 .elementor-element.elementor-element-bfef1b0 > .elementor-element-populated {margin: -23px 0px 0px 0px;}
	.elementor-7 .elementor-element.elementor-element-923288f {text-align: left;}
	.elementor-7 .elementor-element.elementor-element-9672e45 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-9672e45 .elementor-heading-title {font-size: 19px;}
	.elementor-7 .elementor-element.elementor-element-9672e45 > .elementor-widget-container {margin: -42px 0px 0px -5px;}
	.elementor-7 .elementor-element.elementor-element-ce3bada > .elementor-element-populated {margin: -23px 0px 0px 0px;}
	.elementor-7 .elementor-element.elementor-element-1ac80f7 {text-align: left;}
	.elementor-7 .elementor-element.elementor-element-ab6380b {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-ab6380b .elementor-heading-title {font-size: 19px;}
	.elementor-7 .elementor-element.elementor-element-ab6380b > .elementor-widget-container {margin: -41px 0px 0px -108px;}
	.elementor-7 .elementor-element.elementor-element-e379fad {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-e379fad .elementor-heading-title {font-size: 36px;line-height: 1.2em;letter-spacing: 1.9px;}
	.elementor-7 .elementor-element.elementor-element-a0a1add {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-a0a1add .elementor-heading-title {font-size: 17px;line-height: 1.5em;}
	.elementor-7 .elementor-element.elementor-element-c37f495 > .elementor-element-populated {margin: 0px 0px 0px 82px;padding: 0px 0px 19px 0px;}
	.elementor-7 .elementor-element.elementor-element-508cc62 .swiper-wrapper {display: flex;align-items: center;}
	.elementor-7 .elementor-element.elementor-element-508cc62 > .elementor-widget-container {margin: 0px 0px 0px 0px;border-radius: 0px 0px 0px 0px;}
	.elementor-7 .elementor-element.elementor-element-508cc62 {width: 100%;max-width: 100%;}
	.elementor-7 .elementor-element.elementor-element-b6b3835 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-b6b3835 .elementor-heading-title {font-size: 28px;line-height: 1.3em;letter-spacing: -.2px;}
	.elementor-7 .elementor-element.elementor-element-e697002 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-ffbb6d0 {margin-top: -72px;margin-bottom: 0px;}
	.elementor-7 .elementor-element.elementor-element-8a74b90 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-d1a77ca {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-6c25bf4 {margin-top: -60px;margin-bottom: 0px;}
	.elementor-7 .elementor-element.elementor-element-d2f6e7a {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-19a2fad {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-deb6429 {margin-top: -60px;margin-bottom: -60px;}
	.elementor-7 .elementor-element.elementor-element-e3a72d9 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-5324088 {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-0a5194f {margin-top: -13px;margin-bottom: -13px;}
	.elementor-7 .elementor-element.elementor-element-007871b {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-c37ebca {text-align: center;}
	.elementor-7 .elementor-element.elementor-element-b20c85f .elementor-heading-title {font-size: 16px;line-height: 1.1em;letter-spacing: -.3px;}
	.elementor-7 .elementor-element.elementor-element-b20c85f > .elementor-widget-container {margin: -121px 0px 0px 0px;}}